@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
  font-family: 'Quicksand', sans-serif;
}

body{
background-image:url('https://rozup.ir/view/3442199/vecteezy_abstract_overlapping_gradient_circle_background_.jpg');
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

.glassmorphism{
  background: rgba( 255, 255, 255, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13px );
  -webkit-backdrop-filter: blur( 13px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}


input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
select.form-control:focus {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
}

input[type="text"]::placeholder {
  color: #fff;
  opacity: 1;
}

.list-group-item{
  text-align: left;
}

#li{
  color: #fff;
  background: rgba( 255, 255, 255, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13px );
  -webkit-backdrop-filter: blur( 13px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

i{
  cursor: pointer;
  color: #fff;
}
